html,
body,
* {
    box-sizing: border-box;
}

.main-content {
    padding: 1rem;
    width: 60vw;
    max-width: 960px;
    margin: 0 30vw 0 10vw;
}

.main-contact {
    padding: 1rem;
    width: 60vw;
    max-width: 960px;
    margin: auto;
}

.page-header {
    text-align: center;
    margin: 2rem 0;
}

.logo {
    position: absolute;
    top: 4rem;
    right: 6vw;
    width: clamp(60px, 8vw, 135px);
    height: auto;
    z-index: 3;
}

.main-nav {
    display: flex;
    /* padding: 10px; */
    background-color: #f4f4f4;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.main-nav a {
    text-decoration: none;
    margin-right: 1em;
    padding: 10px;
}

.main-nav a:hover {
    background-color: #1B508D;
    color: #f4f4f4;
    text-decoration: none;
    margin-right: 1em;
    padding: 10px;
}

.sign-in {
    margin-left: auto;
}

.sidebar {
    background-color: #f4f4f4;
    width: 20vw;
    padding: 1rem;
    margin: 1rem 8vw 1rem 2vw;
    margin-top: 1rem;
    margin-left: 8vw;
    margin-right: clamp(2vw, 5%, 8vw);
    float: right;
    position: sticky;
    top: 3rem;
}

.scroll-stop {
    scroll-margin-top: 3rem;
}

.figure-right {
    max-width: 55%;
    height: auto;
    float: right;
    padding: 0 0 0 2rem;
}

.figure-left {
    max-width: 55%;
    height: auto;
    float: left;
    padding: 2rem 2rem 2rem 0;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.bordered-box {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
}

.flex-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    margin-top: 2rem;
}

.item-order-1 {
    order: 1;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 35vw;
}

.item-order-2 {
    order: 2;
    flex: 0 0 auto;
}

.item-order-3 {
    order: 3;
    flex: 0 0 auto;
}

.footer-heading {
    color: #D4E4F7;
}

.footer-content-left {
    text-align: left;
}

footer ul {
    list-style-type: none;
    padding: 0;
}