.products-grid {
    /* 6 col 3 row */
    display: grid;
    max-width: fit-content;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

.product-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.featured-product {
    grid-column: 2 / -2;
    /* spans 4 columns */
    grid-row: 1 / 2;
}

.second-row-product {
    grid-column: span 3;
    grid-row: 2 / 3;
}

.third-row-product {
    grid-column: span 2;
    grid-row: 3 / 4;
}

.product-image {
    width: auto;
    height: 200px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0 8px
}

.product-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}